<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slabs.exchange.mapper.back.BoughtAmountMapper">
  <resultMap id="BaseResultMap" type="com.slabs.exchange.model.entity.BoughtAmount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="usdt" jdbcType="NUMERIC" property="usdt" />
    <result column="project_coin" jdbcType="NUMERIC" property="projectCoin" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="withdraw" jdbcType="INTEGER" property="withdraw" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, project_id, usdt, project_coin, create_time, order_id, withdraw
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bought_amount
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bought_amount
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.slabs.exchange.model.entity.BoughtAmount">
    insert into bought_amount (id, user_id, project_id, 
      usdt, project_coin, create_time, 
      order_id, withdraw)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{usdt,jdbcType=NUMERIC}, #{projectCoin,jdbcType=NUMERIC}, #{createTime,jdbcType=TIMESTAMP}, 
      #{orderId,jdbcType=VARCHAR}, #{withdraw,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.slabs.exchange.model.entity.BoughtAmount">
    insert into bought_amount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="usdt != null">
        usdt,
      </if>
      <if test="projectCoin != null">
        project_coin,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="withdraw != null">
        withdraw,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="usdt != null">
        #{usdt,jdbcType=NUMERIC},
      </if>
      <if test="projectCoin != null">
        #{projectCoin,jdbcType=NUMERIC},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="withdraw != null">
        #{withdraw,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.slabs.exchange.model.entity.BoughtAmount">
    update bought_amount
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="usdt != null">
        usdt = #{usdt,jdbcType=NUMERIC},
      </if>
      <if test="projectCoin != null">
        project_coin = #{projectCoin,jdbcType=NUMERIC},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="withdraw != null">
        withdraw = #{withdraw,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.slabs.exchange.model.entity.BoughtAmount">
    update bought_amount
    set user_id = #{userId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      usdt = #{usdt,jdbcType=NUMERIC},
      project_coin = #{projectCoin,jdbcType=NUMERIC},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=VARCHAR},
      withdraw = #{withdraw,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>