<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slabs.exchange.mapper.ext.back.BoughtAmountExtMapper">
  <resultMap id="BaseResultMap" type="com.slabs.exchange.model.dto.BoughtAmountDto">
    <id column="id" jdbcType="INTEGER" property="projectId" />
    <result column="amount" jdbcType="NUMERIC" property="amount" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="wallet_addr" jdbcType="VARCHAR" property="walletAddr" />
    <result column="usdt_amount" jdbcType="NUMERIC" property="usdtAmount" />
    <result column="coin_amount" jdbcType="NUMERIC" property="coinAmount" />
  </resultMap>

  <select id="getBoughtAmount" parameterType="java.util.List" resultMap="BaseResultMap">
    select
           project_id id, sum(coin_amount) amount
    from
           bought_amount
    where
           project_id
    in
    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
      #{item.id,jdbcType=INTEGER}
    </foreach>
    group by
            project_id
  </select>

 <select id="getAmountByProjectId" parameterType="int" resultMap="BaseResultMap">
   select
        project_id id, sum(coin_amount) amount
   from
        bought_amount
   where
        project_id = #{projectId,jdbcType=INTEGER}
   group by
        project_id
 </select>


<select id="count" parameterType="com.slabs.exchange.model.dto.PageParamDto" resultType="int">
    select count(1) from bought_amount where project_id = #{projectId}
    and withdraw = 1
</select>

    <select id="list" parameterType="com.slabs.exchange.model.dto.PageParamDto" resultMap="BaseResultMap">
        select
               ba.coin_amount, ba.usdt_amount, u.account, u.wallet_addr
        from
             bought_amount ba
        left join sysuser u
        on ba.user_id = u.id
        where
              ba.project_id = #{projectId}
            and ba.withdraw = 1
        limit #{pageSize} offset #{start}
    </select>
</mapper>