<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slabs.exchange.mapper.ext.UserExtMapper">
  <resultMap id="BaseResultMap" type="com.slabs.exchange.model.dto.UserListDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="audit_state" jdbcType="INTEGER" property="auditState" />
  </resultMap>

  <select id="count" parameterType="com.slabs.exchange.model.dto.PageParamDto" resultType="int">
    select
           count(1)
    from
         sysuser u, user_role ur, role r
    where
          r.id = ur.role_id and u.id = ur.user_id
    <if test="auditState != null">
        and u.audit_state = #{auditState}
    </if>
      <if test="account != null">
          and u.account = #{account}
      </if>
  </select>

  <select id="list" parameterType="com.slabs.exchange.model.dto.PageParamDto" resultMap="BaseResultMap">
    select
        u.id, u.account, r.name, r.id role_id, u.audit_state
    from
         sysuser u, user_role ur, role r
    where r.id = ur.role_id and u.id = ur.user_id
      <if test="auditState != null">
          and u.audit_state = #{auditState}
      </if>
      <if test="account != null">
          and u.account = #{account}
      </if>
    limit #{pageSize} offset #{start}
  </select>

</mapper>